:root {
  --body-background: #f4f4f4;
  --frontend-color: #2ecc71;
  --primary-color: #1845c9;
  --text-color: #333333;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  background-color: var(--body-background);
  color: var(--text-color);
}

h1 {
  font-size: 1.4em;
}

.menu {
  background-color: gray;
  display: flex;
  padding: 0.2em 0;
}

.menu-controls {
  display: flex;
}

.page-content {
  background-color: var(--frontend-color);
  display: flex;
  padding: 0.8em;
}

.client-computer {
  height: 530px;
  width: 800px;
}

.screen {
  border: 20px solid #474e5d;
  border-radius: 10px;
  height: calc(100% - 70px);
  position: relative;
  width: 100%;
}

.screen > div {
  position: absolute;
}

.screen:before,
.screen:after {
  content: "";
  left: 50%;
  position: absolute;
}

.screen:before {
  background: #a5adbd;
  border-radius: 6px;
  height: 6px;
  margin: -3px 0 0 -3px;
  width: 6px;
  top: -10px;
}

.screen:after {
  background: #e8ebf0;
  border-radius: 8px;
  bottom: -10px;
  height: 8px;
  margin: 0 0 -4px -4px;
  width: 8px;
}

.screen-content {
  background-color: white;
  height: 100%;
  width: 100%;
}

.screen-base {
  background: #e8ebf0;
  bottom: -70px;
  height: 50px;
  left: 50%;
  margin-left: -45px;
  width: 90px;
}

.screen-base:before,
.screen-base:after,
.screen-base-grey-shadow:before,
.screen-base-grey-shadow:after{
  content: "";
  position: absolute;
  top: 0;
}

.screen-base:before {
  border-bottom: 50px solid #e8ebf0;
  border-left: 13px solid transparent;
  border-right: 0px solid transparent;
  left: -13px;
}

.screen-base:after {
  border-bottom: 50px solid #e8ebf0;
  border-left: 0px solid transparent;
  border-right: 13px solid transparent;
  right: -13px;
}

.screen-base > div {
  position: absolute;
}

.screen-base-grey-shadow {
  background: #d8dbe1;
  height: 12px;
  top: 0;
  width: 90px;
}

.screen-base-grey-shadow:before {
  border-bottom: 12px solid #d8dbe1;
  border-left: 3px solid transparent;
  border-right: 0px solid transparent;
  left: -3px;
  z-index: 2
}

.screen-base-grey-shadow:after {
  border-bottom: 12px solid #d8dbe1;
  border-left: 0px solid transparent;
  border-right: 3px solid transparent;
  right: -3px;
  z-index: 2
}

.screen-base-foot {
  background: #e8ebf0;
  z-index: 1;
}

.foot-top {
  bottom: -5px;
  height: 5px;
  left: 50%;
  margin-left: -58px;
  width: 116px;
}

.foot-top:before,
.foot-top:after,
.foot-bottom:before {
  content: "";
  position: absolute;
  top: 0px;
}

.foot-top:before {
  border-bottom: 5px solid #e8ebf0;
  border-left: 16px solid transparent;
  border-right: 0px solid transparent;
  left: -16px;
}

.foot-top:after {
  border-bottom: 5px solid #e8ebf0;
  border-left: 0px solid transparent;
  border-right: 16px solid transparent;
  right: -16px;
}

.foot-bottom {
  bottom: -10px;
  height: 5px;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  z-index: 999;
}

.screen-base-shadow {
  background: radial-gradient(ellipse at center, rgba(52,172,108,1) 0%,rgba(52,172,108,1) 53%,rgba(46,204,113,1) 55%,rgba(46,204,113,0) 55%,rgba(46,204,113,0) 100%);
  bottom: -20px;
  height: 15px;
  left: 50%;
  margin-left: -175px;
  position: absolute;
  width: 350px;
}
